## Deliverable 3. Create a Travel Itinerary Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Maragogi,BR,75.04,few clouds,-9.01,-35.22,Salinas do Maragogi All Inclusive Resort
1,4,Bathsheba,BB,80.60,shower rain,13.22,-59.52,Atlantis Hotel
2,8,Limbang,MY,78.80,broken clouds,4.75,115.00,Purnama Hotel
3,11,Bethel,US,81.00,broken clouds,41.37,-73.41,Courtyard by Marriott Danbury
4,13,Trairi,BR,78.93,clear sky,-3.28,-39.27,Pousada Field Lilies - Trairi

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Miri")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Miri")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Limbang")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Labuan")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Sandakan")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
219,626,Miri,MY,77.0,scattered clouds,4.41,114.01,"Mega Hotel, Miri"

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

#list indexing to get coord tuples
Miri_start= start[0][5],start[0][6]
Miri_end = end[0][5],end[0][6]
Limbang = stop1[0][5],stop1[0][6]
Lanuan = stop2[0][5],stop2[0][6]
Sandakan = stop3[0][5],stop3[0][6]

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
malaysia_journey = gmaps.directions_layer(
        Miri_start, Miri_end, waypoints=[Limbang, Lanuan, Sandakan],
        stroke_color='blue', stroke_weight=3.0, stroke_opacity=1.0, travel_mode ='DRIVING')
fig.add_layer(malaysia_journey)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,626,Miri,MY,77.0,scattered clouds,4.41,114.01,"Mega Hotel, Miri"
1,8,Limbang,MY,78.8,broken clouds,4.75,115.00,Purnama Hotel
2,219,Labuan,MY,77.0,thunderstorm,5.28,115.24,Tiara Labuan Hotel
3,510,Sandakan,MY,75.2,few clouds,5.84,118.12,Hotel Sandakan

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map.
locations = locations
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))